h1{
    text-align: center;
    border: 2px solid red;
    margin-bottom: 100px;
    background-color: orange;
    color: yellow;
    box-shadow: 1px 1px 4px red;

}

input {
    width: 83%;
    height: 40px;
    margin-bottom: 10px;

}

#calcolatrice{
    border: 2px solid red;
    width: auto;
    background-color: orange;
}

#tastierino > div {
    display: inline-block;
    width: 26%;
    text-align: center;
    cursor: pointer;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    background-color: whitesmoke;
}

#tastierino > div:hover{
    background-color: yellow;
}