@import "function";
body{
    background-color: aliceblue;
}
#naviga {
    margin-bottom: 40px;
}

#partner{
    margin-top: 40px;
    margin-bottom: 40px;
}

#carosello{
    margin-bottom: 40px;
}
.bianco{
    color: white;
}

.azzurro{
    color: blue;
    margin-top: 20px;
}

footer{
    padding: 30px;
    color: white;
    text-align: center;
}

